{% if page.url == "/gallery/" %}
  {% for post in site.posts %}
    {% if post.pinned == true %}
      {% capture words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      <div class="card my-4 shadow-lg">
        <div>
          <!-- pinned -->
          <small class="text-muted position-absolute" style="top: 10px; left: 10px; z-index: 1;">
            <span class="badge-warning rounded">📌 <strong>Pinned</strong>  </span>
          </small>
          <img class="card-img-top" src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="object-fit: cover;">
        </div>
        <div class="card-body">
          <h3 class="card-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h3>
          <p class="card-text">{{ post.excerpt | markdownify | truncatewords: 25 }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">View →</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% for post in site.posts %}
  {% unless post.pinned %}
    {% capture words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    <div class="card my-4 shadow-lg">
      <img class="card-img-top" src="{{ post.image | relative_url }}" alt="{{ post.title }}" style="object-fit: cover;">
      <div class="card-body">
        <h3 class="card-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p class="card-text">{{ post.excerpt | markdownify | truncatewords: 25 }}</p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">View →</a>
      </div>
    </div>
  {% endunless %}
{% endfor %}
<style>
  h3 {
    font-weight: 600;
  }
</style>
