<style>
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .social-icon {
    margin-right: 10px;
  }

  .icon-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .icon-font {
    font-size: 24px;
    color: purple; /* Customize the color as needed */
  }
</style>

<ul class="social-icons">
  <li class="social-icon">
    <a href="https://github.com/{{ site.social_links.github_username }}" target="_blank">
      <img src="/assets/ssrn.png" alt="SSRN" class="icon-image">
    </a>
  </li>
  <li class="social-icon">
    <a href="https://scholar.google.com/citations?user={{ site.social_links.scholar_username }}" target="_blank">
      <i class="fab fa-google-scholar fa-fw icon-font"></i>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://orcid.org/{{ site.social_links.orcid_id }}" target="_blank">
      <img src="/assets/chapman.png" alt="Chapman University" class="icon-image">
    </a>
  </li>
</ul>
